.stack-work/**
.stack-work/install/x86_64-osx/lts-8.13/8.0.2/lib/x86_64-osx-ghc-8.0.2/vectors-0.1.0.0-ArtINaC2MmX1o6UHVESn1q/Vectors.hi

.stack-work/install/x86_64-osx/lts-8.13/8.0.2/pkgdb/vectors-0.1.0.0-ArtINaC2MmX1o6UHVESn1q.conf

.stack-work/install/x86_64-osx/lts-8.13/8.0.2/pkgdb/package.cache

*.a

*.dylib

*.dyn_hi

*.o

*.dump-hi

*.hi

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/build/vectors-exe/vectors-exe

*.conf

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/stack-config-cache

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/stack-cabal-mod

*.h

*.cache

.stack-work/install/x86_64-osx/lts-8.13/8.0.2/doc/vectors-0.1.0.0/LICENSE

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/stack-build-cache

*.dyn_o

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/build/autogen/Paths_vectors.hs

.stack-work/dist/x86_64-osx/Cabal-1.24.2.0/setup-config

.stack-work/install/x86_64-osx/lts-8.13/8.0.2/bin/vectors-exe

.stack-work/install/x86_64-osx/lts-8.13/8.0.2/flag-cache/vectors-0.1.0.0-ArtINaC2MmX1o6UHVESn1q
